/* 
desktop-first
breakpoint: 1920px, 768px
*/

@media (max-width: 1919px) {
  html {
    font-size: 8px;
  }
  /* 
  20rem 패딩이 줄어들어 점점 든다. 
  */
}

@media (max-width: 768px) {
  html {
    font-size: 6px;
  }
  /* 
  로고 이미지 사라짐 
  패딩이 없으니까 판다마켓과 로그인버튼사이가 어느 수준까지 줄어든다. 
  */
}
