/* 
desktop-first
breakpoint: 1920px, 1024px, 768px
*/

@media (max-width: 1919px) {
  html {
    font-size: 9px;
  }

  header {
    padding: 0 200px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 8px;
  }

  header {
    padding: 0 0;
  }

  .banner {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }

  .banner-content {
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 5rem 0 15rem;
  }

  .change-line {
    display: inline;
  }

  .bottom .banner-content {
    text-align: center;
    margin-top: 15rem;
  }

  .home-card-container {
    padding: 2rem 0;
  }

  .home-card-content {
    flex-direction: column;
    align-items: start;
  }

  .home-card-container:nth-child(2) .home-card-content {
    flex-direction: column;
    text-align: end;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 6px;
  }
  /* 
  로고 이미지 사라짐 
  
  */
}
