/* 
desktop-first
breakpoint: 1920px, 768px
*/

@media (max-width: 1919px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 6px;
  }
  /* 
  로고 이미지 사라짐 
  
  */
}
