@import "reset.css";

/* components */
@import "components/nav.css";
@import "components/banner.css";

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
}

button {
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}
