* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'ROKAF Sans';
    src: url('/fonts/ROKAF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('./fonts/PretendardVariable.woff2') format('woff2'),
        url('./fonts/PretendardVariable.woff2') format('woff');
    font-weight: 400;
    font-style: normal;
}

html {
    font-family: 'Pretendard', sans-serif;
    font-size: 0.83vw;
}

body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    height: 3.65vw;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.52vw;
}

.logo-img {
    width: 2.08vw;
}

.logo-text {
    font-family: 'ROKAF Sans', sans-serif;
    font-size: 1.5625rem;
    font-weight: 700;
    margin-top: 0.52vw;
    color: #3692FF
}

.login-link {
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    background-color: #3692FF;
    border-radius: 0.42vw;
    padding: 0.63vw 1.2vw;
}

.top-section,
.bottom-section {
    background-color: #CFE5FF;
    height: 28.13vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.bottom-section {
    margin-top: 7.19vw;
}

.top-section img {
    width: 38.85vw;
    height: 17.71vw;
}

.bottom-section img {
    width: 38.85vw;
    height: 20.68vw;
}

.top-section-container {
    display: flex;
    align-items: center;
    gap: 0.36vw;
}

.bottom-section-container {
    display: flex;
    align-items: center;
    gap: 3.59vw;
}

.top-section-text,
.bottom-section-text {
    padding-bottom: 3.13vw;
}

.top-section-text p,
.bottom-section-text p {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.92vw;
    color: #374151;
}

.top-section-text a {
    font-size: 1.25rem;
    font-weight: 600;
    color: #ffffff;
    background-color: #3692FF;
    padding: 0.83vw 6.46vw;
    border-radius: 2.08vw;
    margin-top: 1.67vw;
    display: inline-block;
}

.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7.19vw 0;
}

.hot-item,
.search,
.register {
    display: flex;
    align-items: center;
    gap: 3.33vw;
    background-color: #fcfcfc;
    border-radius: 0.63vw;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 0.63vw;
}

.hot-item .text-container,
.register .text-container {
    padding-right: 1.25vw;
}

.search .text-container {
    padding-left: 1.25vw;
}

.small-text {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 2.92vw;
    color: #3692FF;
}

.big-text {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.92vw;
    color: #374151;
}

.main-section p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.67vw;
    color: #374151;
}

.main-section img {
    width: 30.16vw;
    height: 23.13vw;
}

footer {
    background-color: #111827;
    height: 8.33vw;
    padding: 1.67vw 20vw;
    display: flex;
    justify-content: space-between;
}

.codeit {
    font-size: 1rem;
    font-weight: 400;
    line-height: 0.99vw;
    color: #9CA3AF
}

.footer-center {
    display: flex;
    gap: 1.56vw;
    font-size: 1rem;
    font-weight: 400;
    line-height: 0.99vw;
    color: #E5E7EB;
}

.footer-right a {
    margin-right: 0.63vw;
}

.footer-right a:last-child {
    margin: 0;
}

.footer-right img {
    width: 1.04vw;
    height: 1.04vw;
}