* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: 'Pretendard', sans-serif;
}

@font-face {
    font-family: 'ROKAF Sans';
    src: url("fonts/ROKAF_Slab_Serif_Bold.woff") format('woff');
}

a {
    cursor: pointer;
    text-decoration: none;
}

header {
    border-bottom: 1px solid #DFDFDF;
}

.herader-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 200px;
    padding: 9px 0;
}

.header__logo-box {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header__logo{
    width: 40px;
    height: 40px;
}

.header__title {
    font-size: 25px;
    font-weight: 700;
    color: #3692FF;
    font-family: 'ROKAF Sans', sans-serif;
    margin-bottom: 5px;
}

.header__button {
    border-radius: 8px;
    width: 128px;
    height: 48px;
    padding: 14px 23px;
    color: #F3F4F6;
}

.banner-section {
    background-color: #CFE5FF;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 540px;
    gap: 7px;
    width: 100vw;
}

.banner__title-text {
    font-weight: 700;
    font-size: 40px;
    color: #374151; 
    line-height: 56px;
}

.banner__button {
    border-radius: 40px;
    padding: 16px 124px;
    width: 357px;
    height: 56px;
    color: #F9FAFB;
    font-size: 20px;
    margin-bottom: 110px;
}

.banner__title {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.banner__img {
    width: 40vw;
    max-width: 746px;
    height: auto;
}

.button {
    display: inline-block;
    background-color: #3692FF;
    font-weight: 600;
    text-align: center;
}

.button:hover {
    background-color: #1967D6;
}

.card-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 138px 457px;
}

.card {
    display: flex;
    align-items: center;
    width: 988px;
    height: 444px;
    background-color: #FCFCFC;
    border-radius: 12px;
    gap : 64px;
}

.card__img {
    max-width: 579px;
    width: 60%;
    height: 100%;
}

.card__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    width: auto;
    height: 238px;
    white-space: nowrap;
}

.card__category {
    font-size: 18px;
    color: #3692FF;
    font-weight: 700;
}

.card__title {
    font-size: 40px;
    font-weight: 700;
    color: #374151;
    line-height: 56px;
}

.card__description {
    font-size: 24px;
    font-weight: 500;
    color: #374151;
    line-height: 32px;
}

.card--reverse {
    flex-direction: row-reverse;
    text-align: right;
}

.center {
    align-self: center;
    padding-top: 30px;
}

.footer{
    display: flex;
    justify-content: space-between;
    background-color: #111827;
    padding: 32px 400px;
    height: 160px;
    font-size: 16px;
    font-weight: 400;
}

.footer__name{
    color: #9CA3AF; 
}

.footer-links{
    display: flex;
    gap: 30px;
}

.footer__link{
    color: #E5E7EB;
}

.footer-icons{
    display: flex;
    gap: 12px; 
}