* {
  margin: 0;
  padding: 0;
  /* 박스에 사이즈 딱 맞추려면 border-box를 적용 */
  box-sizing: border-box; 
}

body {
  color: #374151;
  font-family: "Pretendard", sans-serif;
}
.container {
  max-width: 640px;
  margin: 0 auto;
}

.logo_container {
  display: block;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.info_box {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

label {
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}

input {
  width: 100%;
  background-color: #f3f4f6;
  border: none;
  padding: 16px 24px;
  border-radius: 12px;
  line-height: 24px;
  margin-bottom: 24px;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.toggle-password {
  position:absolute;
  right: 24px;
  cursor: pointer;
}

.full_width {
  width: 100%;
}

.pill_button {
  font-size: 20px;
  font-weight: 700;
  border-radius: 999px;
  padding: 16px 126px;
}

.submit_button {
  color: white;
  background-color:#3692ff;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  font-family: inherit;
  line-height: inherit;
  appearance: none;
}

.social_login {
  background-color: #e6f2ff;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  padding:16px 23px;
  align-items: center;
}

.social_login_container {
  display: flex;
  gap: 16px;
}

img {
  vertical-align: bottom;

}

.member {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  padding: 24px;
}